.cd{
    height: 238px;
}

/* Cape Town */

.cpt0{
    background-image: url('../cities/cape-town/0.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cpt1{
    background-image: url('../cities/cape-town/1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cpt2{
    background-image: url('../cities/cape-town/2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cpt3{
    background-image: url('../cities/cape-town/9.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cpt4{
    background-image: url('../cities/cape-town/4.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cpt5{
    background-image: url('../cities/cape-town/5.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cpt6{
    background-image: url('../cities/cape-town/6.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cpt7{
    background-image: url('../cities/cape-town/7.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cpt8{
    background-image: url('../cities/cape-town/8.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cpt9{
    background-image: url('../cities/cape-town/9.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



/* Dubai */

.d0{
    background-image: url('../cities/dubai/0.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.d1{
    background-image: url('../cities/dubai/1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.d2{
    background-image: url('../cities/dubai/2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.d3{
    background-image: url('../cities/dubai/9.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.d4{
    background-image: url('../cities/dubai/4.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.d5{
    background-image: url('../cities/dubai/5.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.d6{
    background-image: url('../cities/dubai/6.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.d7{
    background-image: url('../cities/dubai/7.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.d8{
    background-image: url('../cities/dubai/8.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.d9{
    background-image: url('../cities/dubai/9.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* London */

.l0{
    background-image: url('../cities/london/0.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.l1{
    background-image: url('../cities/london/1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.l2{
    background-image: url('../cities/london/2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.l3{
    background-image: url('../cities/london/9.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.l4{
    background-image: url('../cities/london/4.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.l5{
    background-image: url('../cities/london/5.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.l6{
    background-image: url('../cities/london/6.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.l7{
    background-image: url('../cities/london/7.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.l8{
    background-image: url('../cities/london/8.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.l9{
    background-image: url('../cities/london/9.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Athens */

.a0{
    background-image: url('../cities/athens/0.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.a1{
    background-image: url('../cities/athens/1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.a2{
    background-image: url('../cities/athens/2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.a3{
    background-image: url('../cities/athens/9.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.a4{
    background-image: url('../cities/athens/4.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.a5{
    background-image: url('../cities/athens/5.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.a6{
    background-image: url('../cities/athens/6.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.a7{
    background-image: url('../cities/athens/7.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.a8{
    background-image: url('../cities/athens/8.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.a9{
    background-image: url('../cities/athens/9.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* london */
.n0{
    background-image: url('../cities/new-york/0.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.n1{
    background-image: url('../cities/new-york/10.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.n2{
    background-image: url('../cities/new-york/2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.n3{
    background-image: url('../cities/new-york/9.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.n4{
    background-image: url('../cities/new-york/4.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.n5{
    background-image: url('../cities/new-york/5.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.n6{
    background-image: url('../cities/new-york/6.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.n7{
    background-image: url('../cities/new-york/7.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.n8{
    background-image: url('../cities/new-york/8.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.n9{
    background-image: url('../cities/new-york/9.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}